code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #f4f4f5;
  --text: #111;
  --card-bg: #fff;
}

[data-theme='dark'] {
  --bg: #111827;
  --text: #f9fafb;
  --card-bg: #1f2937;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}
